/* 1 Global Variables
    2 Layout
*/

/* ---- 1 Global Variables (CSS variables start with "--") ----*/
:root {
    --color-bg-body: #24d180;
    --color-bg-gradient: linear-gradient(to top, #cf6666, #e7438d);
    --color-bg-section: hsl(114, 72%, 23%);
    --color-font-body: black;
    --img-board: url('../img/water.webp');
    --img-cardback: url('../img.water.webp');
    /*
    --img-cardfront: url('../img/BACK.png');
    --img-cardfront2: url('../img/BACK.png');
    */
    
}

#zen-supporting{--pos-top: 150px; --pos-left:15px;}
#zen-preamble{--pos-top: 350px; --pos-left:15px}
#zen-explanation{--pos-top: 550px; --pos-left: 15px; --front-img: url(..img/newspaper2.jpg);}
#zen-participation{--pos-top: 150px ; --pos-left: 350px ; --front-img: url(..img/newspaper2.jpg);}
#zen-benefits{--pos-top: 350px; --pos-left: 350px;}
#zen-requirements{--pos-top: 550px; --pos-left: 350px;}


/*  Practice */

body {
    background-image: var(--color-bg-gradient);
    height: 100vh;
    background-repeat: no-repeat;
    color: var(--color-bg-section);
}

/* . represents a class; page wrapper is a class */
.page-wrapper {
    /* Use global variable to set image as background */
    background-image: var(--img-board);
    position: fixed;
    /* Adjust left, top, width, height, ensure board is in middle */
    left: 10%;
    width: 80%;
    height: 100vh;
    transform-origin: bottom center;
    transform: perspective(800px) rotateX(20deg) ;
    transform-style: preserve-3d;
}

.extra1{
    /* Move under table to make frame */
    position: fixed;
    bottom: 0;
    left: 10%;
    width: 1050px;
    height: 20px;
    background-color: aqua;
}

/* ---- 2 Layout ---- */

/* Relative Postion */

header abbr {
    position: relative;
    top: -10px;
    font-size: 2em;
}

.intro, .supporting{

}

article {
    position: absolute;
    top: var(--pos-top);
    left: var(--pos-left);
    /*transform: rotate(var(--tilt,30deg));*/
    /*
    background-image: var(--img-cardback);
    background-repeat: no-repeat;
    */
    background-size: cover;
    width: 300px ;
    height: 150px;
    overflow: hidden;
    /* Element Model */
    padding: 5px 10px 20px 8px;
    border: 2px dotted white; /* change border radius to make card look nice */
}

article:hover {
    background-image: var(--img-cardback) ;
    background-size: cover;
    background-repeat: repeat;
}

/* Everything inside the block */
article > *{
    opacity: 0;
    transition: opacity 3s;
}

article:active {
    background-image: var(--front-color);
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 50vh;
    transform-origin: 500px 80vh;

}


/* Hide the elements */
footer, aside {
    display: none;
}

/* Required: Web Font and Local Font */
header h1 {
    font-family: "Playwrite BE WAL Guides", cursive ;
    font-size: 2em ;

}
 @font-face {
    font-family: 'myFont';
    src: url('../fonts/chunkfive.woff') format('woff'), url(../fonts/chunkfive.svg) format('svg');
    font-weight: normal;
    font-style: italic;
 }

 header h2 {
    font-family: 'myFont', Arial, Helvetica, sans-serif;
    font-size: 1.5 em ;
 }

 a {
    text-transform: uppercase;
 }

 /* Display and Visibility */
 #zen-partcipation h3 {
    display: none;
    /* visibiity: hidden; */
    /* opacity: 1; */
 }

/* Selector Practice*/
article h3::first-letter{
    font-size: 2em;
} 
article:first-child{
    text-shadow: 0.5em 0.1em 1em black;
}
p:nth-child(2n){
    background-color: yellow;
    box-shadow: -15px -15px 50px black;
}
aside ul{
    list-style-image: url("../img/star.png");
}

/* Style Footer */
footer {
    position: fixed;
    top: ; 
    left: ;
    width: auto;
    display: flex; /* horizontal */
    gap: ;
    padding: 10px;
    animation: horizontalmove 5s linear infinite;

}

footer a {
    background-color: var();
}

@keyframes horizontalmove {
    0%{transform: translateX(0);}
    50%{transform: translateX(100%);}
    100%{transform: translate;}
}